[% IF c.user_exists %]
    Please Note: You are already logged in as '[% c.user.name %]'.
    You can <a href="[% c.uri_for('/logout') %]">logout</a> here.
[% ELSE %]
    You need to log in to use this application.
[% END %] 
<br>


[% META title = 'Add User' -%]
name:[%  users.name %]<br>
password:[%  users.password %]<br>
password:[%  users.email %]<br>
